.app-page {
  /* background-color: antiquewhite; */
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

Form {
  /* background-color: aquamarine; */
  padding: 1.2rem;
  border-radius: 1rem;
  width: 25rem;
  border: 1px solid #cfcfcf;
}

/* dashboard */

.dashboard-title {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

.button-update,
.button-dashboard {
  width: 100%;
}

.button-dashboard-logout {
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* login */

.update-title,
.login-title,
.singup-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}

.button-reset-password,
.button-update,
.button-singup,
.button-login {
    width: 100%;
}

/* Sign up */

.button-signup-have-account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.button-signup-have-account span {
  margin: 0;
  padding: 0;
}

.button-signup-login {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #0d6efd;
  margin-left: 5px;
}

.button-forgot-password-login,
.button-login-forgot-password{
  margin-top: 1rem;
  text-decoration: underline;
  color: #0d6efd;
  text-align: center;
  cursor: pointer;
}



/* Update */

.button-update-cansel {
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
  color: #0d6efd;
}
